extends comps/layout

block content
	.ui.grid
		.three.wide.column
			.ui.vertical.tabular.menu.fluid
				a.item.blue.text-right.active a
				a.item.blue.text-right b
				a.item.blue.text-right c
		.thirteen.wide.stretched.column
			.ui.segment#pjax-content
				